#navigation {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid gray 1px;
    box-shadow: 0px 5px 10px #1a2031;
    margin: 0px;
    padding-right: 40px;
    padding-left: 40px;
    height: 60px;
    width: fit-container;
    z-index: 1;
    background-color: rgb(51, 50, 50);;
}

#login-signup {
    display: flex;
    flex-direction: row;
    width: 230px;
    justify-content: space-between;
}

#login-signup > * {
    cursor: pointer;
}
