#login-component {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    z-index: 4;
    backdrop-filter: blur(10px);
}

#login-form {
    display: flex;
    flex-direction: column;
}

form > input::placeholder {
    color: white;
    font-size: 18px;
}

input[type="text"], input[type="password"] {
    color: white;
    font-size: 18px;
    background-color: rgb(177, 175, 175);
}

#login-form > input {
    background-color: rgb(177, 175, 175);
}

#login-form > * {
    height: 35px;
    width: 250px;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    font-size: 18px;
}

#login-form > button {
    background-color: rgb(17, 17, 17);
}

#login-form > button:hover {
    cursor: pointer;
    background-color: rgb(92, 91, 91);
}

.example {
    width: 100%;
}

.errors {
    color: red;
    margin: 0px;
    margin-top: 5px;
}
