#direct-message {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: fit-content;
    width: 400px;
    border-radius: 0px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    background-color: #465775;
    z-index: 4;
}

#dm-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    height: 40px;
    width: 100%;
    cursor: pointer;
    background-color: rgb(110, 198, 168);
    border-radius: 0px 10px 0px 0px;
}

#dm-main {
    height: 600px;
    padding: 10px;
}

#translate-toggle {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    padding: 2px;
}

.translate-toggle-active {
    background-color: green;
}

#dm-back {
    height: 30px;
}
