#user-convo {
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 6;
    padding: 5px;
    /* margin: 10px; */
}

#user-conversation {
    height: 600px;
    overflow-y: scroll;
    /* overflow: hidden; */
    padding: 5px;
}

#dm-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* position: absolute; */
    width: 100%;
    bottom: 0px;
    /* margin-left: -5px;*/
    margin-bottom: 0px;
    /* margin: 5px; */
    height: 50px;
}

#dm-input {
    font-size: 15px;
    width: 100%;
    border-radius: 5px;
    /* margin: 20px; */
    background-color: antiquewhite;
    outline: none;
}

#dm-send {
    width: 35px;
    cursor: pointer;
    padding: 5px;
    /* padding-right: 15px; */
}

.user-message-language1 {
    color: white;
    margin-left: 10px;
    justify-self: flex-end;
    align-self: flex-end;
    width: fit-content;
    font-size: 14px;
}

.friend-message-language {
    color: white;
    margin: 0px;
    padding-right: 10px;
    justify-self: flex-end;
    align-self: flex-end;
    width: fit-content;
    font-size: 14px;
}

#user-conversation::-webkit-scrollbar {
    width: 10px;
}


#user-conversation::-webkit-scrollbar-track {
    background: #465775;
    padding: 0px 2px 0px 2px;
}


#user-conversation::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}


#user-conversation::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.bot-message, .user-message {
    display: flex;
    flex-direction: column;
}

.bot-message > audio, .user-message > audio {
    height: 30px;
}
