#bot-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 40px;
    background-color: #F29559;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 0px;
    width: 300px;
    cursor: pointer;
}

#bot-button > h2 {
    margin: 0px;
}

#chat-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0px;
    height: 90vh;
    width: 30vw;
    background-color: #F29559;
    border-radius: 10px;
}

#chatbox-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #202C39;
    border-radius: 10px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}

#chatbox-header > * {
    margin: 0px;
}

#minimize > div {
    height: 3px;
    background-color: white;
    width: 20px;
}

#minimize {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

#chatbox-text-input {
    border-radius: 5px;
    height: 100%;
    background-color: #283845;
    color: white;
    font-weight: bold;
    border: none;
    width: 29vw;
}

/* #chatbox-text-input:active {
    border: none;
} */

.user-message, .bot-message {
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    margin-top: 10px;
}

#messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 80%;
    scroll-snap-type: y proximity;
    padding: 10px
}

.user-message {
    background-color: #283845;
    align-self: flex-end;
    margin-left: 10px;
}

.bot-message {
    align-self: flex-start;
    background-color: black;
    color: white;
    padding-right: 10px;
}

#convo {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chatbot-conversation {
    height: 20px;
    padding: 10px;
    background-color: #283845;
    color: white;
    border-radius: 7px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#send-message-button {
    width: 35px;
    position: absolute;
    right: 20px;
    bottom: 25px;
    cursor: pointer;
}


.link-card {
    border-radius: 7px;
    color: black;
    width: 100%;
    margin-right: 0px;
}

.link-card-info {
    width: 100%;
    background-color: white;
    border-radius: 7px;
    padding: 5px;
}

#back-button {
    height: 30px;
}

.images-card {
    display: flex;
    flex-direction: column;
    height: 220px;
    width: 100%;
    justify-content: space-between;
}

.image-row {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 45%;
    justify-content: space-between;
}

.image-results {
    height: 100%;
    border-radius: 6px;
}

#input-div {
    height: 200px;
    justify-self: flex-end;
}
