#bot-button {
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 40px;
    background-color: #c98457;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 0px;
    z-index: 4;
    width: 300px;
    cursor: pointer;
}

#bot-button:hover {
    background-color: #f09b63;
}

#bot-button>h2 {
    margin: 0px;
}

#chat-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0px;
    height: 90vh;
    width: 30vw;
    background-color: #b9e6ff;
    border-radius: 10px 0px 0px 0px;
    box-shadow: -5px -5px 20px gray;
}

#chatbox-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #202C39;
    border-radius: 10px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}

#chatbox-header>* {
    margin: 0px;
}

#minimize>div {
    height: 3px;
    background-color: white;
    width: 20px;
}

#minimize {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

/* #chatbox-text-input:active {
    border: none;
} */

.user-message,
.bot-message {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    backdrop-filter: blur(1px);
    width: fit-content;
}

#messages {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 90%;
    /* margin: 0px 0px 30px 0px; */
    padding: 10px 10px 40px 10px;
}

.user-message {
    background-color: #283845;
    align-self: flex-end;
    backdrop-filter: blur(10px);
}

.bot-message {
    align-self: flex-start;
    background-color: rgb(87, 85, 85);
    color: white;
    padding-right: 10px;
}

#convo {
    display: flex;
    flex-direction: column;
    top: 0px;
    height: 100%;
}

.chatbot-conversation {
    height: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #5b83a3;
    color: white;
    border-radius: 7px;
    margin-bottom: 10px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    cursor: pointer;
    box-shadow: 1px 1px 4px gray, -2px -2px 4px gray;
}

.chatbot-conversation:hover {
    background-color: #70a3cd;
}

#send-message-button {
    width: 35px;
    cursor: pointer;
}

.input-container {
    position: absolute;
    right: 20px;
    bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.link-card {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    color: black;
    width: 100%;
}

.link-card-info {
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    padding: 5px;
}

#back-button {
    height: 30px;
}

.images-card {
    display: flex;
    flex-direction: column;
    height: 220px;
    width: 100%;
    justify-content: space-between;
}

.image-row {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 45%;
    justify-content: space-between;
}

.image-results {
    height: 100%;
    border-radius: 6px;
}

#input-div {
    position: sticky;
    height: fit-content;
    display: flex;
    padding: 5px 5px 5px 5px;
    height: 9%;
    width: 98%;
    bottom: 0px;
}

#chatbox-text-input {
    border-radius: 5px;
    background-color: #283845;
    color: white;
    font-weight: bold;
    border: none;
    height: 90%;
    width: 100%;
    bottom: 0px;
    padding: 10px 100px 0px 10px;
    font-size: 17px;
}

iframe {
    border-radius: 7px;
}

.spacer {
    height: 10px
}

a {
    text-decoration: none;
}

.user-message-container {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: fit-content;
    width: 100%;
}

.bot-message-container {
    width: fit-content;
}

.message-language {
    color: #283845;
    margin: 0px;
    padding-left: 10px;
    font-size: 14px;
}

.user-message-language {
    color: #283845;
    margin: 0px;
    padding-right: 5px;
    justify-self: flex-end;
    align-self: flex-end;
    width: fit-content;
    font-size: 14px;
}

.map {
    height: 200px;
    width: 400px;
}

#convo-container {
    padding: 10px 7px 0px 5px;
}
