#dropdown-list {
    position: fixed;
    right: 10px;
    border-radius: 10px;
    width: 150px;
    background-color: gray;
    height: fit-content;
    padding: 10px;
    height: fit-content;
}

#dropdown-list > ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    height: 100%;
}

li {
    margin-bottom: 5px;
    padding: 5px;
}

#logout {
    cursor: pointer;
    background-color: black;
    border-radius: 7px;
}

#logout:hover {
    background-color: rgb(79, 77, 77);
}
