#google-sign-up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 250px;
    background-color: black;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

#google-sign-up:hover {
    background-color: gray;
}

#google-logo {
    height: 25px;
}
