#landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#root, body, html {
    height: 100%;
}



#landing-title-container {
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
}

#landing-title {
    font-size: 70px;
}

#get-started {
    height: 35px;
    width: 250px;
    border-radius: 5px;
    color: white;
    background-color: rgb(17, 17, 17);
    border: none;
    align-self: center;
}

#get-started:hover {
    cursor: pointer;
    background-color: rgb(92, 91, 91);
}

#landing-mic {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 3;
}

#landing-img {
    position: fixed;
    top: 60px;
    width: 100%;
    height: 94.85%;
    z-index: -1;
}

#get-started-container {
    width: 100%;
}
