.create-comment > textarea {
    background-color: rgb(162, 161, 161);
    width: 100%;
    margin-right: -50px;
    border-radius: 20px;
    height: fit-content;
    font-size: 20px;
    color: white;
    padding-left: 10px;
    margin-right: 0px;

}

.create-comment > textarea:focus {
    outline: none;
}

.create-comment > textarea::placeholder {
    color: rgb(80, 78, 78);
}

.create-comment {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.send-icon {
    position: absolute;
    right: 10px;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
