.dm-list {
    border-radius: 7px;
    background-color: rgb(46, 56, 68);
    height: 35px;
    display:flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.dm-list > p {
    margin: 0px;
    padding: 0px;
}
